.main {
  display: flex;
  flex-direction: column;
  padding: 80px 21%;
  gap: 80px;
  background-color: $bg-color-primary;

  .offers {
    display: flex;
    flex-direction: column;
    gap: 45px;
    height: 430px;

    &__heading {
      font-size: 1.5rem;
      line-height: 1.2;
      font-weight: 700;
    }

    .offers-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;

      .offers__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 25px;
        gap: 20px;
        width: calc((100% - 90px) / 4);
        height: 363px;
        background-color: $bg-color-secondary;

        .offers-item__img {
          width: 50%;
          height: 166px;
        }

        .offers-item__description {
          width: 80%;
          text-align: center;
          font-size: $font-size-xs;
          line-height: 1.4065;
          font-family: $color-secondary;
        }

        .offers-item__price {
          font-size: 1.3125rem;
          font-weight: 500;
        }

        .offers-item__link {
          @include button-link;
          width: 130px;
          height: 35px;
          font-weight: 500;
        }
      }
    }
  }

  .container-lg {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .subscribe,
    .shops {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      align-items: center;
      flex-grow: 1;
      min-width: 440px;
      height: 212px;
      padding: 35px 4%;
      background-color: $bg-color-ternary;

      .container-sm {
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: $bg-color-secondary;

        .subscribe__heading,
        .shops__heading {
          font-size: 1.125rem;
          font-weight: 700;
        }

        .subscribe__bonus,
        .shops__info {
          width: 60%;
          font-size: $font-size-xs;
          line-height: 1.4065;
        }

        .subscribe__email {
          width: 225px;
          border-radius: 30px;
          padding: 10px 10%;
          font-size: $font-size-xs;
          color: $color-additional;
          outline-color: $bg-color-secondary;
        }

        .shops__link {
          @include button-link;
          height: 35px;
          border-radius: 30px;
        }
      }

      .subscribe__picture,
      .shops__picture {
        display: flex;
        justify-content: center;

        .subscribe__img {
          width: 140px;
          height: 140px;
        }

        .shops__img {
          width: 189px;
          height: 100px;
        }
      }
    }
  }

  .brands {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 358px;
    background-color: $bg-color-secondary;

    &__item {
      display: grid;
      justify-content: center;
      align-items: center;
      border: 1px solid $bg-color-primary;
    }
  }
}

// media for screens to 1440px
@media screen and  (max-width: 1440px) {
  .main {
    padding: 20px 5%;

    .offers {
      height: fit-content;
      .offers-container {
        gap: 10px;
      }
    }
  }
}

// media for screens to 840px
@media screen and (max-width: 840px) {
  .main {
    padding: 20px 21%;

    .offers {
      padding: 0;
      .offers-container {
        gap: 10px;
        flex-direction: column;

        .offers__item {
          width: 100%;
        }
      }
    }

    .container-lg {
      flex-direction: column;
      gap: 10px;

      .offers-container {
        .subscribe__img {
          width: 60%;
        }
      }

      .subscribe,
      .shops {
        width: 100%;
      }
    }

    .brands {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  }
}
