$bg-color-primary: #efefef;
$bg-color-secondary: #ffffff;
$bg-color-ternary: #f13c6e;
$color-primary: #000000;
$color-secondary: #333333;
$color-ternary: #828282;
$color-additional: #c4c4c4;
$font-size-xs: 0.875rem;
$font-size-sm: 2.25rem;
$font-size-lg: 3rem;
